.radius1 {
  border-radius: 9px !important;
}
.radius2 {
  border-radius: 19px !important;
}
.radius3 {
  border-radius: 29px !important;
}
.radius4 {
  border-radius: 39px !important;
}
.radius5 {
  border-radius: 49px !important;
}
.radius6 {
  border-radius: 59px !important;
}
.radius7 {
  border-radius: 69px !important;
}
.radius8 {
  border-radius: 79px !important;
}
.radius9 {
  border-radius: 89px !important;
}
.radius10 {
  border-radius: 99px !important;
}
